<a href="https://colab.research.google.com/github/Peron152/python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula 1

In [4]:
ano = "IV"
print ( ano, " competição de programação dá Start")

IV  competição de programação dá Start

Aula 2

In [12]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
pontos_ana = 2 * livro_ficcao + 5 * livro_infantil
pontos_totais = pontos_rodrigo + pontos_ana
print(f"Os pontos totais do Rodrigo são {pontos_rodrigo}")
print(f"Os pontos totais de ana são {pontos_ana}")
print(f"Os pontos totais de ana e rodrigo são {pontos_totais}")

Os pontos totais do Rodrigo são 24
Os pontos totais de ana são 46
Os pontos totais de ana e rodrigo são 70