<a href="https://colab.research.google.com/github/Peron152/python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Aula 1** ‚õΩ ‚ôà ‚ôí

In [ ]:
ano = "IV"
print ( ano, " competi√ß√£o de programa√ß√£o d√° Start")

IV  competi√ß√£o de programa√ß√£o d√° Start

#**Aula 2** ‚õÖ ‚õ¥ ‚õà

In [ ]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
pontos_ana = 2 * livro_ficcao + 5 * livro_infantil
pontos_totais = pontos_rodrigo + pontos_ana
print(f"Os pontos totais do Rodrigo s√£o {pontos_rodrigo}")
print(f"Os pontos totais de ana s√£o {pontos_ana}")
print(f"Os pontos totais de ana e rodrigo s√£o {pontos_totais}")

Os pontos totais do Rodrigo s√£o 24
Os pontos totais de ana s√£o 46
Os pontos totais de ana e rodrigo s√£o 70

#**Aula 3**  ‚õ≥ ‚õ≤ ‚ô•

In [ ]:
total_de_figurinhas = int(input("Digite o total de figurinhas: "))
numero_de_amigos = int(input("Digite o n√∫mero de amigos: "))
figurinhas_amigo = total_de_figurinhas // (numero_de_amigos + 2)
figurinhas_joao = 2 * figurinhas_amigo
figurinhas_extras = int(input("Digite o n√∫mero de figurinhas extras: "))
figurinhas_extras = figurinhas_extras // (numero_de_amigos + 2)
figurinhas_joao2 = figurinhas_extras * 2

print(f"Jo√£o recebeu {figurinhas_joao} figurinhas")
print(f"Jo√£o recebeu {figurinhas_joao2} figurinhas extras")

Digite o total de figurinhas: 30
Digite o n√∫mero de amigos: 6
Digite o n√∫mero de figurinhas extras: 15
Jo√£o recebeu 6 figurinhas
Jo√£o recebeu 2 figurinhas extras

# **Aula 4** ‚è∞ ‚õπ ‚õ™

##dia de prova

In [ ]:
P = int(input("Digite a posi√ß√£o da porta P (0 ou 1): "))
R = int(input("Digite a posi√ß√£o da porta R (0 ou 1): "))
if P == 0:
    print("C")
elif R == 1:
    print("A")
else:
    print("B")

Digite a posi√ß√£o da porta P (0 ou 1): 0
Digite a posi√ß√£o da porta R (0 ou 1): 1
C

#**Aula 5** - C√°lculo de IMC ‚õ∏ ‚ùÑ ‚õ¥

In [ ]:
peso = float(input("Digite seu peso (em kg): "))
altura = float(input("Digite sua altura (em metros): "))
imc = peso / (altura ** 2)
print(f"\nSeu IMC √©: {imc:.2f}")
if imc < 18.5:
    print("Voc√™ est√° abaixo do peso.")
elif 18.5 <= imc < 25:
    print("Voc√™ est√° no peso ideal.")
elif 25 <= imc < 30:
    print("Voc√™ est√° com sobrepeso.")
else:
    print("Voc√™ est√° acima do peso.")

#***Aula 6 tabuada*** ‚õµ ‚õ∑ ‚õ∫

In [1]:
def tabuada(numero):
    for contador in range(1, 11):  # Gera n√∫meros de 1 a 10
        print(f"{numero} x {contador} = {numero * contador}")
numero = int(input("Digite um n√∫mero para ver sua tabuada: "))
tabuada(numero)

Digite um n√∫mero para ver sua tabuada: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#**Aula 7 idade** ‚öΩ üé± üëΩ

In [3]:
def calcula_idade_maior(idade_monica, idade_filho1, idade_filho2):
  idade_filho3 = idade_monica - idade_filho1 - idade_filho2
  idade_maxima = max(idade_filho1, idade_filho2, idade_filho3)
  return idade_filho3, idade_maxima
resultado = calcula_idade_maior(68, 12, 30)
print(resultado)

(26, 30)